
body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  /*background-color: #747bff;*/
  background-color: rgb(20, 20, 30);
}

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
}

.square {
  width: 50px;
  height: 50px;
  background-color: rgba(200,200,200,0.9);
  text-align: center;
  /*outline: 1px solid black;*/
  background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;

  position: relative;
}

/* column repeat = const boardSize */
.boardgrid {
  display: inline-grid;
  grid-gap: 0;
  grid-template: repeat(10, auto) / repeat(10, auto);
  margin: auto;

  background-color: rgba(60,60,130,1);
}

.square-image {
  max-width: 100%;
  max-height: 100%;

  position: absolute;
  top: 0;
}

.spotlight-all {
  width: 500px;
  height: 500px;
  display: grid;
  grid-gap: 0;
  grid-template: 20% 80% / 80% 20%;
}

.spotlight-angle {
  border: none;
}

.superficial-graphics {
  position: absolute; 
  top: 0;
  left: 0; 
  height: 100%; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: 1s fadeIn;
}
